.shop-term-title {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}
.shop-term-description {
    text-align: center;
}
.product-type-taxonomy {
  margin-left: auto;
margin-right: auto;
width: 1120px;
justify-content: space-between;
margin-bottom: 1.5rem;
display: flex;
flex-direction: row
}
.taxonomy-content {
  border: 1px solid #e1e1e1;
    max-width: 23%;
    margin-left: 1.5rem;
}
.single-texonomy-image {
  img {
    height: 250px;
    width: 320px;
 }
}
.taxonomy-title {
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  padding: 1rem;
  a {
    text-decoration: none;
    margin-right: 2%;
    &:visited {
      color: black;
      text-decoration: none;
    }
  }
}
